{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}
      <h2>This is playlist item page</h2>
      <ul class="list-group">
      {% for id,name, artist in playlist %}
            <li>
      <a href="{{ url_for('views.Playlist_item_display',playlistid=playlistid, song_id=id) }}#song-modal">
      {{ name }}
      </a>
      — {{ artist }}
      </li>
      {% endfor %}

      {% if chart %}
      <h3>Mood Distribution</h3>
      <img src="data:image/png;base64,{{ chart }}" alt="Mood Chart" />
      {% endif %}

      <h2>This is list of 30 songs that are recommended for you today based on the vibe of your playlist</h2><br>
      {% if recs %}
      <div class="card-container">
      {% for item in recs %}
      <div class="song-card">
            <div>
            <div class="song-header">
                  <div class="song-title">{{ item.song_title }}</div>
                  <span class="badge-rank">Chart rank #{{ item.rank }}</span>
            </div>
            <div class="song-artist">{{ item.artist_name }}</div>

            <div class="song-meta">
                  <span class="chip">
                  Similarity:
                  <span class="similarity">
                        {{ "%.3f"|format(item.similarity) }}
                  </span>
                  </span>
                  <span class="chip">
                  Chart date: {{ item.chart_date }}
                  </span>
            </div>
      </div>
      </div>
      {% endfor %}
      </div>
{% else %}
      <p style="text-align:center;">No recommendations available.</p>
{% endif %}


{% if selected_song_lyric %}
<div id="song-modal" class="modal-overlay">
      <div class="modal-box">
      <a href="{{ url_for('views.Playlist_item_display', playlistid=playlistid) }}"
            class="close-btn">&times;</a>

      <h3>{{ selected_song_lyric.song_name }}</h3>
      <p><strong>Artist:</strong> {{ selected_song_lyric.artist_name }}</p>

      {% if selected_song_lyric.lyric %}
      <pre style="max-height: 250px; overflow-y: auto;">
{{ selected_song_lyric.lyric }}
      </pre>
      {% else %}
      <p><em>No lyrics stored for this song.</em></p>
{% endif %}
</div>
</div>
{% endif %}


</ul>
{% endblock%}